<div class="p-2 bg-blue-500 text-white ">
    <div class=" bg-blue-500 fs-3 text-capitalize text-center">
         <p>Bienvenido al simulador</p> 
         <p>del algoritmo de procesos round robin</p>
    </div>
    
</div>